:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #ecf0f4;
    --entry: #c5d1de;
    --primary: #202c39;
    --secondary: #405872;
    --tertiary: #c5d1de;
    --content: #202c39;
    --code-block-bg: #202c39;
    --code-bg: #ecf0f4;
    --border: #c5d1de;
    --highlight: #ff4f5c;
}

.dark {
    --theme: #202c39;
    --entry: #405872;
    --primary: #ecf0f4;
    --secondary: #c5d1de;
    --tertiary: #405872;
    --content: #ecf0f4;
    --code-block-bg: #202c39;
    --code-bg: #202c39;
    --border: #405872;
    --highlight: #ff4f5c;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
